*{
    margin: 0px;
    padding: 0px;
}



#firstPage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    
}


#singlePlayerButton{
    background-color: purple;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    width: 40vh;
    height: 6vh;
    margin: 0vh 2vh;
    border-radius: 3vh;
    border: none;
    cursor: pointer;

    
}

#singlePlayerButton:hover{

    background-color: rgb(108, 0, 108);
    font-size: 2.48vh;

}

#doublePlayerButton{
    background-color: green;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    width: 40vh;
    height: 6vh;
    margin: 0vh 2vh;
    border-radius: 3vh;
    border: none;
    cursor: pointer;

    
}

#doublePlayerButton:hover{

    background-color: rgb(1, 113, 1);
    font-size: 2.48vh;

}

#goToHomeButton{
    position: absolute;
    background-color: rgb(218, 218, 218);
    color: white;
    font-size: 1.5vh;
    font-weight: bold;
    width: 12vh;
    height: 6vh;
    margin-top: -35vh;
    /*margin-left: 24vh;
    margin-right: 24vh;*/
    border-radius: 1vh;
    border: none;
    cursor: pointer;
    display: none;
    
}

 #goToHomeButton:hover{

    background-color: rgb(255, 73, 7);
    font-size: 1.55vh;

} 
